<!doctype html>
<html>

<head>
    <title>My Tasks</title>
</head>

<body>
    <header>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                    </li>
                    <li>
                        <a href="{% url 'list_projects' %}">My Projects</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>

                    {% endif %}
                </ul>
            </nav>
        </header>
    </header>
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_list.all|length == 0 %}
            <p>You have no tasks.</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is Completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in task_list.all %}
                    <tr>
                        <td> {{ x.name }} </td>
                        <td> {{ x.start_date }} </td>
                        <td> {{ x.due_date }} </td>
                        <td> {{ x.is_completed|yesno }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </main>
    <footer></footer>
</body>

</html>