<!doctype html>
<html>

<head>
    <title>Project Details</title>
</head>

<body>
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <div>
            <h1>{{ project_object.name }}</h1>
            <p>{{ project_object.description }}</p>
            <h2>Tasks</h2>
            <p> <a href="{% url 'create_task' %}">Create a new task</a> </p>
            {% if project_object.tasks.all|length == 0 %}
            <p>This project has no tasks</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in project_object.tasks.all %}
                    <tr>
                        <td> {{ x.name }} </td>
                        <td> {{ x.assignee }} </td>
                        <td> {{ x.start_date }} </td>
                        <td> {{ x.due_date }} </td>
                        <td> {{ x.is_completed|yesno }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </main>
    <footer></footer>
</body>

</html>